<md-button class="md-icon-button md-primary openMenu" ng-if="!$sbCtrl.showMenu"
  aria-label="open menu"
  ng-click="$sbCtrl.toggleSide()"
  hide-gt-sm
  >
  <md-icon md-svg-icon="assets/img/menu.svg"></md-icon>
</md-button>

<div layout="column" flex="25"  class="side" hide-xs hide-sm>
  <h3>Меню</h3>
  <div class="search">
    <h5>Поиск</h5>
    <md-input-container class="md-block">
      <label>Название теста</label>
      <input ng-model="$sbCtrl.search.name"> <br>
    <md-switch ng-model="$sbCtrl.search.notPassed" aria-label="new tests">
      непройденные
    </md-switch>
    <md-switch ng-model="$sbCtrl.search.long" aria-label="long tests">
      длинные
    </md-switch>
    </md-input-container>
  </div>
  <div class="test-list">
    <h5>Тесты</h5>
    <ul>
      <li ng-repeat="test in $ctrl.testsList | byName:$sbCtrl.search | byPassed:$sbCtrl.search | byLength:$sbCtrl.search"
          ng-click="$ctrl.setCurrent(test); $sbCtrl.setCurrent($index)"
          ng-class="{active: $sbCtrl.isCurrent($index)}">
          {{test.title}}
        <span ng-class="{'passed-test' : test.isPassed}"></span>
      </li>
    </ul>
  </div>
  <div class="graph-settings">
    <h5>Настройки графиков</h5>
    <ul>
      <li><a ui-sref="color">Изменить цвета</a></li>
    </ul>
  </div>
</div>

<div layout="column" class="side"  ng-if="$sbCtrl.showMenu">
  <h3>
    <md-button class="md-icon-button md-primary"
      aria-label="open menu"
      ng-click="$sbCtrl.toggleSide()"
      hide-gt-sm
      >
      <md-icon md-svg-icon="assets/img/menu.svg"></md-icon>
    </md-button>
    Меню
  </h3>
  <div class="search">
    <h5>Поиск</h5>
    <md-input-container class="md-block">
      <label>Название теста</label>
      <input ng-model="$sbCtrl.search.name"> <br>
    <md-switch ng-model="$sbCtrl.search.notPassed" aria-label="new tests">
      непройденные
    </md-switch>
    <md-switch ng-model="$sbCtrl.search.long" aria-label="long tests">
      длинные
    </md-switch>
    </md-input-container>
  </div>
  <div class="test-list">
    <h5>Тесты</h5>
    <ul>
      <li ng-repeat="test in $ctrl.testsList | byName:$sbCtrl.search | byPassed:$sbCtrl.search | byLength:$sbCtrl.search"
          ng-click="$ctrl.setCurrent(test); $sbCtrl.setCurrent($index)"
          ng-class="{active: $sbCtrl.isCurrent($index)}">
          {{test.title}}
        <span ng-class="{'passed-test' : test.isPassed}"></span>
      </li>
    </ul>
  </div>
  <div class="graph-settings">
    <h5>Персонализация</h5>
    <ul>
      <li ui-sref="color">Изменить цвета</li>
    </ul>
  </div>
</div>
