
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
	margin: 0;
    padding: 0;
}

a:focus, li:focus, button:focus, span:focus, input:focus {
  outline: none;
}


md-menu-bar {
  padding: 0;
}