$containerWidth: 90%;
$containerBg: none;
$headerHeight: 60px;
$borderRd: 5px;
$elemColor: #00f;
$blockBg: #ddd;
$accentColor: #f04;

input:focus {
	outline: none;
}
button {
	padding: 5px 10px;
	border: none;
	border-radius: $borderRd;
	background-color: $elemColor;
	color: #fff;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
}
button:hover {
	box-shadow: 1px 1px 3px 1px #000;
}
button:focus {
	transform: scale(0.95);
}
button:disabled{
	opacity: 0.2;
}

.container {
	width: $containerWidth;
	margin: 0 auto;
	background-color: $containerBg;
}

.pageTop {
	height: $headerHeight;
	background-color: $elemColor;
	a.logo {
		float: left;
		text-transform: uppercase;
		line-height: $headerHeight;
		font-size: 24px;
		text-decoration: none;
		font-weight: 900;
		color: $accentColor;
	}
	nav {
		margin-left: 200px;
		line-height: $headerHeight;
		a{
			padding: 10px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
		}
		a:hover {
			color: $accentColor;

		}
	}
}

.greeting{
	text-align: center;
	margin-top: 20vh;
}

.sideBar {
	padding: 10px;
	.header {
		margin-bottom: 10px;
		margin-top: 35px;
		font-size: 24px;
	}
	ul {
		li:hover {
			box-shadow: 1px 1px 2px  #000;
			cursor: pointer;

		}
		li.active {
			border-right: 2px solid $elemColor;
		}
	}
}

.content {
	padding: 10px;
	.question-item {
		background-color: $blockBg;
		padding: 10px;
		margin: 5px 0;
	}
	.variants {
		label {
			display: block;
		}
		span {
			display: block;
			margin: 5px 0;
		}
		input {
		}
		.error {
			color: #f00;
		}
		.correct{
			color: #090;
		}
	}
}
.new-test {

	width: 70%;
	input {
		width: 92%;
		padding: 5px 10px;
		margin: 5px;
		border: 1px solid #000;
		border-radius: $borderRd;

	}
	.new-question {
		position: relative;
		margin-left: 20px;
		padding: 20px 0;
		margin: 20px 0;
		border: 1px solid #000;
		background-color: $blockBg;

		.delete-button {
			position: absolute;
			right: 2px;
			display: table-cell;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			text-align: center;
			font-size: 20px;
			font-weight: 900;
		}
		.bottom {
			bottom: 9px;
		}
		.top {
			top: 2px;
		}
		.delete-button:hover {
			cursor: pointer;
		}
		.delete-button:active {
			transform: scale(0.95);
		}
	}
	.new-variants {
		width: 100%;
		position: relative;
		input {
			margin-left: 20px;
		}
	}
}

span.plus {
	display: block;
	float: right;
	background-color: transparent;
	color: #090;
	border: none;
	font-size: 30px;
	font-weight: 900;
	padding: 0;
	height: 20px;
	width: 20px;
}
span.plus:hover {
	cursor: pointer;
}
span.plus:active {
	transform: scale(0.95);
}
span.passed-test {
	display: inline-block;
	background-image: url('../assets/img/checked.jpg');
	background-size: cover;
	background-position: right center;
	width: 15px;
	height: 15px;
}

.go-in-test {
	background-color: $blockBg;
	margin-top: 50px;
	text-align: center;
	button {
		margin: 40px 0;

	}

}

.mg-left {
	margin-left: 15px;
}

.close {
	float: right;
}
.close:hover {
		transform: scale(1.4);
		cursor: pointer;
	}