	<div class="tests">
		<div class="container">
			<div class="mdl-grid">
			
				<div class="mdl-cell mdl-cell--3-col">
					<side-bar></side-bar>
				</div>

				<div class="mdl-cell mdl-cell--9-col go-in-test">

					<button ui-sref="test({ id: $ctrl.currentTest.id})" ng-disabled="$ctrl.currentTest.isPassed">Пройти тест</button>
					<button ng-click="$ctrl.clearResults()">Очистить результаты</button>
					<div class="test-about">
						<p>Тест: {{$ctrl.currentTest.title}} </p>
						<p>Количество вопросов: {{$ctrl.currentTest.questions.length}}</p>
						<p ng-if="$ctrl.currentTest.isPassed">Ваш результат: {{$ctrl.currentTest.correctAnswers}}/{{$ctrl.currentTest.questions.length}}</p>
					</div>

				</div>

			</div>
		</div>
	</div> <!-- END TESTS -->


	<!-- trying make directive about form -->