<div layout="row">

  <admin-side-bar></admin-side-bar>

  <div layout="column" flex="fill" class="content">
    <h3>{{$ctrl.currentTest.title}}</h3>

      <div layout="row">
        <md-button class="md-raised md-primary" ui-sref="add">Новый тест</md-button>
        <md-button class="md-raised md-primary" ui-sref="edit({ id: $ctrl.currentTest.id })"> Редактировать тест</md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.toggleModal()">Удалить</md-button>
      </div>

      <div layout="row" class="test-description">
        <p>
          Количество вопросов - {{$ctrl.currentTest.questions.length}}
          <span ng-show="$ctrl.isHided" ng-click="$ctrl.switcherShowHide()"> &#9658;</span>
          <span ng-show="!$ctrl.isHided" ng-click="$ctrl.switcherShowHide()">&#9660;</span>
        </p>
        <ul ng-if="!$ctrl.isHided">
          <li ng-repeat="question in $ctrl.currentTest.questions">
            {{question.question}}
          </li>
        </ul>
      </div>

  </div>

</div>

<modal-dialog show="$ctrl.modalShown" width="45%" height="35%" class="reset-settings">
  <h3>Вы дейсвительно хотите удалить тест навсегда?</h3>
  <div class="ng-modal-dialog-footer">
    <md-button class="md-raised md-warn" ng-click="$ctrl.deleteTest()">Да</md-button>
    <md-button class="md-raised md-primary" ng-click="$ctrl.toggleModal()">Нет</md-button>
  </div>
</modal-dialog>









