<div layout="row">

  <admin-side-bar></admin-side-bar>

  <div layout="column" flex="auto" class="content">
    <h3>Редактировать</h3>
    <div class="test-description" layout="column">
      <form name="editTestForm" ng-submit="$ctrl.saveEditTest($ctrl.test)">

        <md-input-container class="md-block">
          <label>Название теста</label>
          <input required name="testName" ng-model="$ctrl.test.title">
        </md-input-container>

        <div class="new-question"
          ng-repeat="($questIndex, question) in $ctrl.test.questions track by $index">
          <span class="btn-small delete" ng-click="$ctrl.deleteQuestion($questIndex)">&times;</span>

          <md-input-container class="md-block">
            <label>Вопрос {{$index + 1}}</label>
            <input required name="question_{{$questIndex}}" ng-model="$ctrl.test.questions[$questIndex].question">
          </md-input-container>

          <div class="variants">
            <h5>Варианты ответов</h5>
            <div layout="row"  layout-wrap layout-align="space-between center">
              <md-input-container  flex="45" ng-repeat="($varIndex, variant) in $ctrl.test.questions[$questIndex].variants track by $index">
                <label>Вариант {{$index + 1}}</label>
                <input required
                  name="variant_{{$varIndex}}"
                  ng-model="$ctrl.test.questions[$questIndex].variants[$varIndex]">
              </md-input-container>
              <div layout="row" flex="45" layout-align="center start">
                <span class="btn-small plus" ng-click="$ctrl.addVariant($questIndex)">+</span>
                <span class="btn-small delete" ng-click="$ctrl.deleteVariant($questIndex)">&times;</span>
              </div>
            </div>
          </div>

          <md-input-container class="md-block">
            <label>Ответ</label>
            <input
            name="answer_{{$questIndex}}"
            required
            ng-model="$ctrl.test.questions[$questIndex].answer">
          </md-input-container>

        </div>

        <span class="btn-small plus" ng-click="$ctrl.addQuestion()">+</span>
        <md-button type="submit" class="md-raised md-primary">Сохранить</md-button>
      </form>
    </div>
  </div>
</div>

