.authorization {
  width: 50%;
  margin: 0 auto;
  padding: 50px 10px;
  text-align: center;
  border: 2px solid $elemColor;
  border-radius: $borderRd;
  h2 {
    margin: 20px;
    padding: 0;
  }
  .md-block {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen  and (max-width: 960px) {
  .authorization  {
    .md-block {
      width: 90%;
    }
  }
}