.content {

  background-color: $blockBg;
  .question-item {
    background-color: $blockBg;
    padding: 10px;
    margin: 5px 0;
  }
  .variants {
    label {
      display: block;
    }
    span {
      display: block;
      margin: 5px 0;
    }
    input {
    }
    .error {
      color: #DF131D;
    }
    .correct{
      color: #2D882D;
    }
  }
}

.go-in-test {
  background-color: $blockBg;

  text-align: center;

  button {
    margin: 40px 0;
  }
}