.test-in-progress {
  padding: 15px;
}

.test-description {
  padding: 15px;
  .new-question {
    margin-left: 20px;
    padding: 10px 0;

    &:nth-of-type(odd) {
      background-color: $blockBg3;
    }
    &:nth-of-type(even) {
      background-color: $blockBg2;
    }

    .variants {
      border: 1px solid $blockBg4;
      padding-left: 30px;
    }
  }
}
@media screen  and (max-width: 960px) {
  .test-in-progress {
    margin-left: 0;
  }
}