<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--3-col">
    <side-bar></side-bar>
  </div>

  <div class="mdl-cell mdl-cell--9-col content">
    <h3>
      Тест - {{$ctrl.currentTest.title}}
      <span class="close" ng-click="$ctrl.closeTest()">&times;</span>
    </h3>

    <div class="variants">
      <form ng-submit="$ctrl.submitTest()">
        <div class="question-item" ng-repeat="(indexQuest, question) in   $ctrl.testProgress.questions">

          <div class="question">
            Вопрос: {{indexQuest + 1}}
            <div class="mg-left">{{question.question}}</div>
          </div>

          <div class="answer" ng-class="{
          correct: $ctrl.testProgress.questions[indexQuest].isCorrect && $ctrl.testProgress.questions[indexQuest].isAnswered,
          error: !$ctrl.testProgress.questions[indexQuest].isCorrect && $ctrl.testProgress.questions[indexQuest].isAnswered}">

            <div>Варианты:</div>
            <span class="mg-left" ng-repeat="(indexVar, variant) in question.variants">

              <input type="radio"
                name="question-{{indexQuest}}"
                value="{{indexVar}}"
                ng-disabled="question.isAnswered"
                ng-click="$ctrl.checkAnswer(indexQuest, indexVar)"
              >
                {{variant}}
              </input>

            </span>
          </div> <!-- END ANSWER -->

        </div>
        <button >
          Отправить
        </button>
      </form>
            <modal-dialog show="$ctrl.modalShown" width="500px" height="30%" class="reset-settings">
              <h4>Нужно ответить на все вопросы</h4>
              <div class="reset-buttons">
                <button class="btn-yes" ng-click="$ctrl.toggleModal()">Ок</button>
              </div>
            </modal-dialog>
    </div>

  </div> <!-- END CONTENT -->
 </div>
 