<div layout="row">

    <div layout="column" flex="fill" class="content">
      <h3>
        Тест - {{$ctrl.currentTest.title}}
        <button class="btn-small delete" ng-click="$ctrl.closeTest()">
          &times;
        </button>
      </h3>

      <div class="test-in-progress">
        <form ng-submit="$ctrl.submitTest()">
        <div class="test-in-progress-item" ng-repeat="(indexQuest, question) in   $ctrl.testProgress.questions">

          <div class="question">
            Вопрос: {{indexQuest + 1}}
            <div class="mg-left">{{question.question}}</div>
          </div>

          <div class="user-answer" ng-class="{
          correct: $ctrl.testProgress.questions[indexQuest].isCorrect && $ctrl.testProgress.questions[indexQuest].isAnswered,
          error: !$ctrl.testProgress.questions[indexQuest].isCorrect && $ctrl.testProgress.questions[indexQuest].isAnswered}">

            <div>Варианты:</div>
            <p ng-repeat="(indexVar, variant) in question.variants">

              <input type="radio"
                name="question-{{indexQuest}}"
                value="{{indexVar}}"
                ng-disabled="question.isAnswered"
                ng-click="$ctrl.checkAnswer(indexQuest, indexVar)"
              >
              <label for="question-{{indexQuest}}">{{variant}}</label>

            </p>
          </div> <!-- END ANSWER -->

        </div>
        <md-button type="submit" class="md-raised md-primary">
          Отправить
        </md-button>
        </form>
      </div>

      <modal-dialog show="$ctrl.modalShown" width="50%" height="30%">
        <h3>Нужно ответить на все вопросы</h3>
        <div class="ng-modal-dialog-footer">
          <md-button layout-align="center center"
            class="md-raised md-primary"
            ng-click="$ctrl.toggleModal()">Ок
          </md-button>
        </div>
      </modal-dialog>

    </div> <!-- END CONTENT -->
 </div>
 