<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col sideBar">
		<div class="header">
			<span>Меню</span>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--9-col content">
		<div class="control-buttons">
			<button ui-sref="admin">Все тесты</button>
		</div>

	<!-- Content here -->

		<form class="new-test" ng-submit="EditCtrl.saveEditTest(EditCtrl.test)">

			<h3>Редактировать</h3>
			<div class="test-name">
				<input type="text" 
					name="test-name" 
					required
					placeholder="Название теста" 
					ng-model="EditCtrl.test.name">
			</div>

			<div class="new-question"
				ng-repeat="($questIndex, question) in EditCtrl.test.questions track by $index">

				<input type="text" 
					name="question" 
					required 
					placeholder="Вопрос" 
					ng-model="EditCtrl.test.questions[$questIndex].quest">

				<div class="new-variants">

					<input ng-repeat="($varIndex, variant) in EditCtrl.test.questions[$questIndex].variants track by $index" 
						type="text" 
						name="variant_{{$varIndex}}" 
						required
						placeholder="Варианты ответов" 
						ng-model="EditCtrl.test.questions[$questIndex].variants[$varIndex]">

				</div>

				<span class="plus" ng-click="EditCtrl.addVariant($questIndex)">+</span>

				<input type="text" 
					name="answer_{{$questIndex}}" 
					required 
					placeholder="Ответ" 
					ng-model="EditCtrl.test.questions[$questIndex].answer">
				<span class="plus" ng-show="$last" ng-click="EditCtrl.addQuestion()">+</span>

			</div>

			<input type="submit" name="submit-test" value="Сохранить">

		</form>

	</div>
</div>

