<h3>Динамика роста</h3>
	<div class="tabs">

		<div class="tab-controls">
			<span>График: </span>
			<button ng-click="$ctrl.setActive(1)" ng-class="{active: $ctrl.isActive(1)}">точечный</button>
			<button ng-click="$ctrl.setActive(2)" ng-class="{active: $ctrl.isActive(2)}">линейный</button>
		</div>

		<div class="tab-item" ng-if=$ctrl.isActive(1)>
			Всего попыток сдать тест: {{$ctrl.dates.length}}
			<dotted-graph data={{$ctrl.toGraphDotted}} axis-x="дата" axis-y="max" ng-height="400" ng-width="600"></dotted-graph>
		</div> <!-- END TAB-ITEM -->

		<div class="tab-item" ng-if=$ctrl.isActive(2)>
			<p>Всего попыток сдать тест: {{$ctrl.dates.length}}</p>
			<line-graph data={{$ctrl.toGraphDotted}} axis-x="дни" axis-y="max" ng-height="400" ng-width="600"></line-graph>
		</div>

	</div> <!-- END TAB-CONTENT -->
</div> <!-- END TABS -->
