	<div class="tests">
		<div class="container">
			<div class="mdl-grid">

				<div class="mdl-cell mdl-cell--3-col sideBar">
					<div class="header">
						<span>Меню</span>

					</div>
					<ul class="demo-list-item mdl-list">
						<li class="mdl-list__item" 
							ng-repeat="test in TestsCtrl.testsList track by $index" 
							ng-click="TestsCtrl.setCurrentTest($index)" 
							ng-class="{active: TestsCtrl.isCurrentTest($index)}">
							<span>
								{{test.name}}
							</span>
						</li>
					</ul>
				</div> <!-- END SIDEBAR -->

				<div class="mdl-cell mdl-cell--9-col go-in-test">

					<button ng-disabled="TestsCtrl.isPassed" ng-click="TestsCtrl.goToTest(TestsCtrl.currentTest)">Пройти тест</button>
					<button ng-disabled="!TestsCtrl.isPassed" ng-click="TestsCtrl.clearResults()">Очистить результаты</button>
					<div test-about>
						<p>Тест: {{TestsCtrl.testsList[TestsCtrl.currentTest].name}} </p>
						<p>Ваш результат: {{TestsCtrl.result}} </p>
					</div>

				</div>

			</div>
		</div>
	</div> <!-- END TESTS -->