<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--3-col sideBar">
		<div class="header">
			<span>Меню</span>
		</div>
		<ul>
			<li ng-repeat="test in CreateCtrl.tests track by $index"
					ng-click="CreateCtrl.setCurrentTest($index)">
				{{test.name}}
			</li>
		</ul>
	</div>

	<div class="mdl-cell mdl-cell--9-col content">

		<div class="control-buttons">
			<button ui-sref="admin">Все тесты</button>
		</div>

		<form class="new-test" ng-submit="CreateCtrl.addTest(CreateCtrl.test)">

			<h3>Создать новый тест</h3>
			<div class="test-name">
				<input type="text" 
					name="test-name" 
					required
					placeholder="Название теста" 
					ng-model="CreateCtrl.test.name">
			</div>

			<div class="new-question"
				ng-repeat="($questIndex, question) in CreateCtrl.test.questions track by $index">

				<input type="text" 
					name="question" 
					required 
					placeholder="Вопрос" 
					ng-model="CreateCtrl.test.questions[$questIndex].quest">

				<div class="new-variants">
					<input ng-repeat="($varIndex, variant) in CreateCtrl.test.questions[$questIndex].variants track by $index" 
						type="text" 
						name="variant_{{$varIndex}}" 
						required
						placeholder="Варианты ответов" 
						ng-model="CreateCtrl.test.questions[$questIndex].variants[$varIndex]">
				</div>

				<span class="plus" ng-click="CreateCtrl.addVariant($questIndex)">+</span>

				<input type="text" 
					name="answer_{{$questIndex}}" 
					required 
					placeholder="Ответ" 
					ng-model="CreateCtrl.test.questions[$questIndex].answer">
				<span class="plus" ng-show="$last" ng-click="CreateCtrl.addQuestion()">+</span>
			</div>

			<input type="submit" name="submit-test" value="Создать">

		</form>
	</div> <!-- END CONTENT -->
</div>

