input[type="radio"]:after {
    box-sizing: border-box;
    content: "";
    display: block;
    position: relative;
    left: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 7px solid $elemColorActive;
}
input[type="radio"]:checked:before {
   box-sizing: border-box;
    content: "";
    display: block;
    position: relative;
    left: -4px;
    top: -6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
}
input[type="radio"]:checked:after {
    box-sizing: border-box;
    content: "";
    display: block;
    position: relative;
    left: -5px;
    top: -25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 7px solid $elemColorActive;
}
input[type="radio"]:disabled:after {
    border: 7px solid $blockBg2;
}
input[type="radio"]:disabled:after {
    border: 7px solid $blockBg2;
}