.tabs {
  .tab-controls {
    padding: 20px;

    button {
      margin-right: 5px;
    }
    .active {
      box-shadow: 1px 1px 3px 1px $accentColor;
    }
  }
  .tab-item {
    padding: 10px;
  }

}