.header {
  background-color: $elemColor;
  margin-bottom: 15px;
  height: 90px;
  .logo {

    a {
      color: $accentColor;
      font-size: 2em;
      font-weight: 900;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .main-nav {
    text-align: center;
    nav {
      a {
        color: #fff;
        margin: 0 5px;
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        border-color: transparent;

        transition: all 0.2s ease-out 0.05s;
        &:hover {
          padding: 10px 0;
          text-shadow: 1px 1px 2px #000, 0 0 1em $accentColor;
          border-bottom: 2px solid $accentColor;
        }
      }
    }
  }
}