.side {
  max-width: 210px;
  height: 100%;
  background-color: $blockBg;
  height: auto;
  ul {

    li {
      padding: 2px 16px;
      text-decoration: none;
      text-transform: lowercase;
      &.active {
        border-right: 3px solid $elemColorActive;
      }

      &:hover {
        box-shadow: 1px 1px 10px #000;
        cursor: pointer;
      }
    }
  }


  &.under-content {
    position: absolute;
    z-index: 99;
    background-color: $blockBg;
    border: none;
    box-shadow: 2px 2px 10px  #000;
  }
  .graph-settings {
    padding: 15px;
  }
}

.search {
  padding: 0 10px 0 10px;
  border-bottom: 3px solid $elemColor;

  .md-block {
    margin: 0;

    label {
      font-size: 1.3em;
    }
    md-switch.md-checked .md-bar {
      background-color: $elemColor;
    }
    md-switch.md-checked .md-thumb {
      background-color: $elemColorActive;
    }
  }
}

.test-list {
  padding: 0 10px 0 10px;
  border-bottom: 3px solid $elemColor;
  ul {
    max-height: 320px;
    overflow-y: scroll;
    &:hover {
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 3px;
      background-color: $blockBg2;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $elemColor;
    }
    li {
      width: 80%;
    }
  }
}

@media screen  and (max-width: 960px) {
  .side {
    border-bottom: 2px solid $elemColor;
    border-right: 2px solid $elemColor;
  }
}