.sideBar {
  background-color: $blockBg;
  h3 {
    border-bottom: 2px solid $elemColor;
  }
  .search {
    border-bottom: 2px solid $elemColor;
    padding: 5px;
    label {
      font-size: 14px;
    }
  }
  .test-list {

    padding: 5px;
    ul {
      border-bottom: 2px solid $elemColor;
      height: 100px;
      overflow-y: scroll;
      &:hover {
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
        }
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: #ccc;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $elemColor;
      }
      li {
        width: 95%;
      }
    }
  }
}