<div layout="row">
  <admin-side-bar></admin-side-bar>

  <div layout="column" flex="auto" class="content color-settings">

      <md-button class="md-raised md-warn" ng-click='$ctrl.toggleModal()'>Сбросить настройки</md-button>
      <h4>Гистограмма</h4>
      <div layout="row">
        <span ng-repeat="color in $ctrl.gistogramColors">
          <input type="color" name="c1" value="{{color}}" ng-model="$ctrl.gistogramColors[$index]">
        </span>
      </div>

      <h4>Точечный</h4>
      <div layout="row">
        <p ng-repeat="color in $ctrl.dottedColor">
          <input type="color" name="c2" value="{{color}}" ng-model="$ctrl.dottedColor[$index]">
        </p>
      </div>
      <h4>Диаграмма</h4>
      <div layout="row">
        <p ng-repeat="color in $ctrl.diagramColor">
          <input type="color" name="c3" value="{{color}}" ng-model="$ctrl.diagramColor[$index]">
        </p>
      </div>
      <h4>Линейный</h4>
      <div layout="row">
        <p ng-repeat="color in $ctrl.linedColor">
          <input type="color" name="c3" value="{{color}}" ng-model="$ctrl.linedColor[$index]">
        </p>
      </div>
  </div>

  <modal-dialog show="$ctrl.modalShown" width="50%" height="40%" class="reset-settings">
    <h3>Осторожно, все настройки будут потеряны!</h3>
    <h5>Сбросить?</h5>
    <div class="ng-modal-dialog-footer">
      <md-button layout-align="center center"
        class="md-raised md-warn"
        ng-click="$ctrl.$ctrl.reset()">Ок
      </md-button>
      <md-button layout-align="center center"
        class="md-raised md-primary"
        ng-click="$ctrl.toggleModal()">нет
      </md-button>
    </div>
  </modal-dialog>

  </div>
</div>